In [1]:
import numpy as np
import pandas as pd
df = pd.read_csv('rdkit.csv')
df.replace(to_replace='#NAME?',value=np.nan,inplace=True)
df.replace(to_replace=r'^\s*$',value=np.nan,regex=True,inplace=True)
columns = df.columns
df = df.astype("float", errors = "ignore")
df = np.float32(df)
df[np.isnan(df)] = 0
df[np.isinf(df)] = 0
df=pd.DataFrame(df,columns=columns)
ncol = df.shape[1]-1
x = df.iloc[:,0:ncol]
y = df['active']
corr_matrix = x.corr().abs()
upper = corr_matrix.where(np.triu(np.ones(corr_matrix.shape), k=1).astype(np.bool))
to_drop = [column for column in upper.columns if any(upper[column] > 0.95)]
x1 = x.drop(to_drop, axis=1)
x2 = x1.loc[:, (x1 != x1.iloc[0]).any()] 
x2 = x2.round(6)

In [2]:
x1

,0,1,2,14,15,16,17,18,19,20,...,186,187,188,189,190,191,192,193,194,195
0,1.726,1139.849976,27.711000,11.949000,14.384000,0.0,24.656000,51.613998,16.690001,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0
1,1.869,610.760010,17.653999,17.622999,20.114000,0.0,40.471001,11.994000,25.683001,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1.884,650.023987,17.653999,23.038000,19.802000,0.0,34.735001,18.415001,19.261999,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1.860,775.122009,21.679001,70.352997,30.014999,0.0,30.753000,0.000000,0.000000,6.924000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1.837,671.614014,19.938999,23.726999,20.114000,0.0,34.738998,17.912001,25.683001,6.924000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019,2.806,220.039001,8.268000,6.104000,5.107000,0.0,12.294000,0.000000,5.563000,12.133000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2020,3.137,52.568001,4.992000,0.000000,0.000000,0.0,0.000000,5.880000,5.032000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2021,3.055,64.829002,6.406000,0.000000,0.000000,0.0,0.000000,0.000000,18.202000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2022,3.174,266.592010,14.891000,5.969000,4.795000,0.0,0.000000,6.421000,25.683001,44.945999,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7.0,0.0
2023,2.810,294.460999,11.475000,0.000000,4.795000,0.0,5.783000,17.754000,0.000000,18.415001,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [3]:
x1.to_csv('output_file.csv')

In [4]:
from sklearn.model_selection import train_test_split
x_train,x_val_test,y_train,y_val_test = train_test_split(x2,y,test_size = 0.2,random_state = 4)
x_val, x_test, y_val, y_test = train_test_split(x_val_test,y_val_test,test_size = 0.5,random_state = 4)

In [5]:
train = pd.concat([x_train,y_train],axis=1)
train

,0,1,2,14,15,16,17,18,19,20,...,186,187,188,189,191,192,193,194,195,active
1410,3.070,257.537994,7.560000,4.923000,10.114,0.0,5.687000,0.000000,5.563000,6.066000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
256,1.078,1564.588013,27.476000,0.000000,9.589,0.0,23.612000,22.247000,55.115002,48.233002,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,2.0,0.0,1.0
1433,3.135,160.496994,5.983000,0.000000,0.000,0.0,0.000000,0.000000,11.251000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
836,1.537,1051.427979,18.433001,0.000000,4.795,0.0,5.783000,6.607000,49.933998,25.931000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1519,3.153,93.774002,9.397000,6.104000,0.000,0.0,6.104000,13.214000,13.028000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1921,3.153,261.679993,7.560000,4.923000,10.114,0.0,10.710000,0.000000,0.000000,12.133000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
709,1.965,681.573975,18.525000,52.543999,24.909,0.0,16.906000,6.421000,19.261999,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
439,1.364,1482.519043,28.468000,0.000000,0.000,0.0,0.000000,35.030998,60.303001,25.683001,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
174,0.916,1297.159058,34.504002,54.381001,4.565,0.0,43.492001,11.836000,51.367001,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1146,2.424,375.628998,9.096000,0.000000,0.000,0.0,0.000000,0.000000,4.473000,11.127000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [6]:
val = pd.concat([x_val,y_val],axis=1)
val

,0,1,2,14,15,16,17,18,19,20,...,186,187,188,189,191,192,193,194,195,active
1313,2.102,360.390015,10.889000,11.705,4.795000,0.0,5.969,6.607000,5.563000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
963,2.797,522.041992,15.880000,0.000,4.795000,0.0,5.415,0.000000,11.859000,35.981998,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
253,2.166,844.458008,23.347000,0.000,0.000000,0.0,0.000,47.113998,30.761000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1999,2.663,276.045990,10.715000,0.000,4.795000,0.0,12.073,5.918000,18.415001,12.497000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1652,2.083,15.219000,3.536000,0.000,0.000000,0.0,0.000,0.000000,13.214000,12.842000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
698,1.393,933.582947,22.216999,10.893,20.014999,0.0,11.437,18.274000,43.603001,31.385000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1932,2.908,419.617004,13.380000,11.939,9.589000,0.0,24.341,0.000000,0.000000,24.285000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1973,3.202,340.595001,8.483000,10.118,8.418000,0.0,4.895,5.687000,0.000000,24.264999,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1807,3.196,300.634003,8.431000,4.923,10.114000,0.0,10.710,5.023000,0.000000,18.198999,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1338,2.990,458.287994,14.466000,6.719,0.000000,0.0,5.918,19.094000,11.518000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [26]:
test1 = pd.concat([x_test,y_test],axis=1)
test1

,0,1,2,14,15,16,17,18,19,20,...,186,187,188,189,191,192,193,194,195,active
1207,3.614,94.996002,4.992000,0.000000,0.000,0.0,0.000000,0.000000,5.573000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1126,2.913,374.033997,7.682000,0.000000,0.000,0.0,0.000000,0.000000,5.517000,10.950000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
301,2.356,1083.980957,20.422001,5.429000,9.901,0.0,39.728001,17.062000,0.000000,41.615002,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1266,3.568,71.549004,5.155000,0.000000,9.589,0.0,11.566000,0.000000,0.000000,13.847000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1800,2.694,192.917007,7.397000,0.000000,0.000,0.0,0.000000,6.607000,11.437000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1330,2.829,374.450012,7.682000,0.000000,0.000,0.0,0.000000,0.000000,0.000000,16.336000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1366,3.188,257.782990,7.560000,0.000000,4.795,0.0,0.000000,21.895000,0.000000,6.066000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2016,2.895,215.203995,7.397000,0.000000,4.795,0.0,0.000000,0.000000,11.850000,4.895000,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
707,1.379,1123.938965,23.753000,0.000000,0.000,0.0,6.607000,29.487000,62.279999,6.327000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0
138,0.988,1413.156982,34.081001,54.381001,4.565,0.0,36.884998,17.584999,51.367001,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [8]:
col_name = train.columns.values.tolist()
col_name.pop()

'active'

In [9]:
from pycaret.classification import *
CM = setup(data = train, target = 'active', test_data = val, silent=True, numeric_features = col_name,
             session_id=0, fold_strategy = 'stratifiedkfold', fold = 5, fold_shuffle = True, normalize = True, normalize_method = 'minmax')

In [10]:
mlp = create_model('mlp')
tunedmlp = tune_model(mlp,n_iter = 200, search_library = 'scikit-optimize',optimize = 'AUC')
predict_model(tunedmlp)

,0,1,2,14,15,16,17,18,19,20,...,188,189,191,192,193,194,195,active,Label,Score
0,0.283726,0.147781,0.136171,0.052283,0.052167,0.0,0.070055,0.067367,0.054150,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.8631
1,0.425998,0.214579,0.219236,0.000000,0.052167,0.0,0.063553,0.000000,0.115435,0.194748,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.5127
2,0.296827,0.347807,0.343508,0.000000,0.000000,0.0,0.000000,0.480387,0.299427,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.8360
3,0.398567,0.112929,0.133276,0.000000,0.052167,0.0,0.141694,0.060342,0.179251,0.067638,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.8403
4,0.279836,0.005150,0.013797,0.000000,0.000000,0.0,0.000000,0.000000,0.128625,0.069506,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.9593
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
197,0.138588,0.384635,0.324701,0.048656,0.217751,0.0,0.134229,0.186327,0.424430,0.169867,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.7391
198,0.448721,0.172255,0.177629,0.053328,0.104322,0.0,0.285676,0.000000,0.000000,0.131439,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.9042
199,0.508905,0.139602,0.096129,0.045194,0.091583,0.0,0.057450,0.057986,0.000000,0.131331,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.9184
200,0.507677,0.123089,0.095263,0.021990,0.110034,0.0,0.125697,0.051216,0.000000,0.098500,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.9200
201,0.465507,0.188235,0.195703,0.030012,0.000000,0.0,0.069456,0.194688,0.112116,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.5332

In [11]:
xgb = create_model('xgboost')
tunedxgb = tune_model(xgb,n_iter = 200, search_library = 'scikit-optimize',optimize = 'AUC')
predict_model(tunedxgb)

,0,1,2,14,15,16,17,18,19,20,...,188,189,191,192,193,194,195,active,Label,Score
0,0.283726,0.147781,0.136171,0.052283,0.052167,0.0,0.070055,0.067367,0.054150,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.9905
1,0.425998,0.214579,0.219236,0.000000,0.052167,0.0,0.063553,0.000000,0.115435,0.194748,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.9082
2,0.296827,0.347807,0.343508,0.000000,0.000000,0.0,0.000000,0.480387,0.299427,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.9314
3,0.398567,0.112929,0.133276,0.000000,0.052167,0.0,0.141694,0.060342,0.179251,0.067638,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.9943
4,0.279836,0.005150,0.013797,0.000000,0.000000,0.0,0.000000,0.000000,0.128625,0.069506,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.9962
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
197,0.138588,0.384635,0.324701,0.048656,0.217751,0.0,0.134229,0.186327,0.424430,0.169867,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.9007
198,0.448721,0.172255,0.177629,0.053328,0.104322,0.0,0.285676,0.000000,0.000000,0.131439,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.9942
199,0.508905,0.139602,0.096129,0.045194,0.091583,0.0,0.057450,0.057986,0.000000,0.131331,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.9917
200,0.507677,0.123089,0.095263,0.021990,0.110034,0.0,0.125697,0.051216,0.000000,0.098500,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.9944
201,0.465507,0.188235,0.195703,0.030012,0.000000,0.0,0.069456,0.194688,0.112116,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.7802

In [12]:
rf = create_model('rf')
tunedrf = tune_model(rf, n_iter = 200,search_library = 'scikit-optimize',optimize = 'AUC')
predict_model(tunedrf)

,0,1,2,14,15,16,17,18,19,20,...,188,189,191,192,193,194,195,active,Label,Score
0,0.283726,0.147781,0.136171,0.052283,0.052167,0.0,0.070055,0.067367,0.054150,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.9394
1,0.425998,0.214579,0.219236,0.000000,0.052167,0.0,0.063553,0.000000,0.115435,0.194748,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.6786
2,0.296827,0.347807,0.343508,0.000000,0.000000,0.0,0.000000,0.480387,0.299427,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.7762
3,0.398567,0.112929,0.133276,0.000000,0.052167,0.0,0.141694,0.060342,0.179251,0.067638,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.9230
4,0.279836,0.005150,0.013797,0.000000,0.000000,0.0,0.000000,0.000000,0.128625,0.069506,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.9888
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
197,0.138588,0.384635,0.324701,0.048656,0.217751,0.0,0.134229,0.186327,0.424430,0.169867,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.7614
198,0.448721,0.172255,0.177629,0.053328,0.104322,0.0,0.285676,0.000000,0.000000,0.131439,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.9569
199,0.508905,0.139602,0.096129,0.045194,0.091583,0.0,0.057450,0.057986,0.000000,0.131331,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.9367
200,0.507677,0.123089,0.095263,0.021990,0.110034,0.0,0.125697,0.051216,0.000000,0.098500,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.9756
201,0.465507,0.188235,0.195703,0.030012,0.000000,0.0,0.069456,0.194688,0.112116,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.6477

In [13]:
et = create_model('et')
tunedet = tune_model(et, n_iter = 200,search_library = 'scikit-optimize',optimize = 'AUC')
predict_model(tunedet)

,0,1,2,14,15,16,17,18,19,20,...,188,189,191,192,193,194,195,active,Label,Score
0,0.283726,0.147781,0.136171,0.052283,0.052167,0.0,0.070055,0.067367,0.054150,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.9624
1,0.425998,0.214579,0.219236,0.000000,0.052167,0.0,0.063553,0.000000,0.115435,0.194748,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.9085
2,0.296827,0.347807,0.343508,0.000000,0.000000,0.0,0.000000,0.480387,0.299427,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.7666
3,0.398567,0.112929,0.133276,0.000000,0.052167,0.0,0.141694,0.060342,0.179251,0.067638,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.9475
4,0.279836,0.005150,0.013797,0.000000,0.000000,0.0,0.000000,0.000000,0.128625,0.069506,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.9919
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
197,0.138588,0.384635,0.324701,0.048656,0.217751,0.0,0.134229,0.186327,0.424430,0.169867,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.7719
198,0.448721,0.172255,0.177629,0.053328,0.104322,0.0,0.285676,0.000000,0.000000,0.131439,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.9511
199,0.508905,0.139602,0.096129,0.045194,0.091583,0.0,0.057450,0.057986,0.000000,0.131331,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.9277
200,0.507677,0.123089,0.095263,0.021990,0.110034,0.0,0.125697,0.051216,0.000000,0.098500,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.9460
201,0.465507,0.188235,0.195703,0.030012,0.000000,0.0,0.069456,0.194688,0.112116,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.6927

In [14]:
catboost = create_model('catboost')
tunedcat1 = tune_model(catboost, n_iter = 200,search_library = 'scikit-optimize',optimize = 'AUC')
predict_model(tunedcat1)

,0,1,2,14,15,16,17,18,19,20,...,188,189,191,192,193,194,195,active,Label,Score
0,0.283726,0.147781,0.136171,0.052283,0.052167,0.0,0.070055,0.067367,0.054150,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.9607
1,0.425998,0.214579,0.219236,0.000000,0.052167,0.0,0.063553,0.000000,0.115435,0.194748,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.7796
2,0.296827,0.347807,0.343508,0.000000,0.000000,0.0,0.000000,0.480387,0.299427,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.8106
3,0.398567,0.112929,0.133276,0.000000,0.052167,0.0,0.141694,0.060342,0.179251,0.067638,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.9689
4,0.279836,0.005150,0.013797,0.000000,0.000000,0.0,0.000000,0.000000,0.128625,0.069506,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.9828
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
197,0.138588,0.384635,0.324701,0.048656,0.217751,0.0,0.134229,0.186327,0.424430,0.169867,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.8195
198,0.448721,0.172255,0.177629,0.053328,0.104322,0.0,0.285676,0.000000,0.000000,0.131439,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.9602
199,0.508905,0.139602,0.096129,0.045194,0.091583,0.0,0.057450,0.057986,0.000000,0.131331,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.9655
200,0.507677,0.123089,0.095263,0.021990,0.110034,0.0,0.125697,0.051216,0.000000,0.098500,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.9619
201,0.465507,0.188235,0.195703,0.030012,0.000000,0.0,0.069456,0.194688,0.112116,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.7142

In [15]:
lightgbm = create_model('lightgbm')
tunedlightgbm = tune_model(lightgbm,n_iter = 200, search_library = 'scikit-optimize',optimize = 'AUC')
predict_model(tunedlightgbm)

,0,1,2,14,15,16,17,18,19,20,...,188,189,191,192,193,194,195,active,Label,Score
0,0.283726,0.147781,0.136171,0.052283,0.052167,0.0,0.070055,0.067367,0.054150,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.9914
1,0.425998,0.214579,0.219236,0.000000,0.052167,0.0,0.063553,0.000000,0.115435,0.194748,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.9686
2,0.296827,0.347807,0.343508,0.000000,0.000000,0.0,0.000000,0.480387,0.299427,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.9628
3,0.398567,0.112929,0.133276,0.000000,0.052167,0.0,0.141694,0.060342,0.179251,0.067638,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.9875
4,0.279836,0.005150,0.013797,0.000000,0.000000,0.0,0.000000,0.000000,0.128625,0.069506,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.9971
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
197,0.138588,0.384635,0.324701,0.048656,0.217751,0.0,0.134229,0.186327,0.424430,0.169867,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.9632
198,0.448721,0.172255,0.177629,0.053328,0.104322,0.0,0.285676,0.000000,0.000000,0.131439,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.9930
199,0.508905,0.139602,0.096129,0.045194,0.091583,0.0,0.057450,0.057986,0.000000,0.131331,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.9955
200,0.507677,0.123089,0.095263,0.021990,0.110034,0.0,0.125697,0.051216,0.000000,0.098500,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.9955
201,0.465507,0.188235,0.195703,0.030012,0.000000,0.0,0.069456,0.194688,0.112116,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.8307

In [24]:
from itertools import combinations
ml = [tunedrf, tunedet, tunedlightgbm, tunedcat1, tunedxgb,tunedmlp]
a2 =  list(combinations(ml, 2))
a3 =  list(combinations(ml, 3))
a4 =  list(combinations(ml, 4))
a5 =  list(combinations(ml, 5))
a6 =  list(combinations(ml, 6))

all = a2 + a3 + a4 + a5 + a6 
print(len(all))
print(len(a2),len(a3),len(a4),len(a5),len(a6))

57
15 20 15 6 1

In [17]:
base_score = 0
for i in all:
    blender = blend_models(i)
    predict_model(blender)
    test = pull()
    avg = test['Accuracy']
    avg = avg.iloc[0]
    if avg > base_score:
       base_score = avg
       best_params = i
print(best_params, base_score)

(LGBMClassifier(boosting_type='gbdt', class_weight=None, colsample_bytree=1.0,
               importance_type='split', learning_rate=0.1, max_depth=-1,
               min_child_samples=20, min_child_weight=0.001, min_split_gain=0.0,
               n_estimators=100, n_jobs=-1, num_leaves=31, objective=None,
               random_state=0, reg_alpha=0.0, reg_lambda=0.0, silent='warn',
               subsample=1.0, subsample_for_bin=200000, subsample_freq=0), MLPClassifier(activation='relu', alpha=0.0001, batch_size='auto', beta_1=0.9,
              beta_2=0.999, early_stopping=False, epsilon=1e-08,
              hidden_layer_sizes=(100,), learning_rate='constant',
              learning_rate_init=0.001, max_fun=15000, max_iter=500,
              momentum=0.9, n_iter_no_change=10, nesterovs_momentum=True,
              power_t=0.5, random_state=0, shuffle=True, solver='adam',
              tol=0.0001, validation_fraction=0.1, verbose=False,
              warm_start=False)) 0.896

In [25]:
base_score = 0
for i in all:
    blender = blend_models(i)
    predict_model(blender)
    test = pull()
    avg = test['AUC']
    avg = avg.iloc[0]
    if avg > base_score:
       base_score = avg
       best_params = i
print(best_params, base_score)

(LGBMClassifier(bagging_fraction=0.8773915681079515, bagging_freq=6,
               boosting_type='gbdt', class_weight=None, colsample_bytree=1.0,
               feature_fraction=0.4, importance_type='split',
               learning_rate=0.01941992882777369, max_depth=-1,
               min_child_samples=1, min_child_weight=0.001, min_split_gain=0.0,
               n_estimators=300, n_jobs=-1, num_leaves=75, objective=None,
               random_state=0, reg_alpha=0.010940761332332679,
               reg_lambda=1.481941494810553e-08, silent='warn', subsample=1.0,
               subsample_for_bin=200000, subsample_freq=0), <catboost.core.CatBoostClassifier object at 0x7f4516b1f730>) 0.9588
[LightGBM] [Warning] bagging_fraction is set=0.8773915681079515, subsample=1.0 will be ignored. Current value: bagging_fraction=0.8773915681079515
[LightGBM] [Warning] feature_fraction is set=0.4, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.4
[LightGBM] [Warning] bagging_freq is set=6, subsample_freq=0 will be ignored. Current value: bagging_freq=6
[LightGBM] [Warning] bagging_fraction is set=0.8773915681079515, subsample=1.0 will be ignored. Current value: bagging_fraction=0.8773915681079515
[LightGBM] [Warning] feature_fraction is set=0.4, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.4
[LightGBM] [Warning] bagging_freq is set=6, subsample_freq=0 will be ignored. Current value: bagging_freq=6
[LightGBM] [Warning] bagging_fraction is set=0.8773915681079515, subsample=1.0 will be ignored. Current value: bagging_fraction=0.8773915681079515
[LightGBM] [Warning] feature_fraction is set=0.4, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.4
[LightGBM] [Warning] bagging_freq is set=6, subsample_freq=0 will be ignored. Current value: bagging_freq=6
[LightGBM] [Warning] bagging_fraction is set=0.8773915681079515, subsample=1.0 will be ignored. Current value: bagging_fraction=0.8773915681079515
[LightGBM] [Warning] feature_fraction is set=0.4, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.4
[LightGBM] [Warning] bagging_freq is set=6, subsample_freq=0 will be ignored. Current value: bagging_freq=6
[LightGBM] [Warning] bagging_fraction is set=0.8773915681079515, subsample=1.0 will be ignored. Current value: bagging_fraction=0.8773915681079515
[LightGBM] [Warning] feature_fraction is set=0.4, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.4
[LightGBM] [Warning] bagging_freq is set=6, subsample_freq=0 will be ignored. Current value: bagging_freq=6
[LightGBM] [Warning] bagging_fraction is set=0.8773915681079515, subsample=1.0 will be ignored. Current value: bagging_fraction=0.8773915681079515
[LightGBM] [Warning] feature_fraction is set=0.4, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.4
[LightGBM] [Warning] bagging_freq is set=6, subsample_freq=0 will be ignored. Current value: bagging_freq=6
[LightGBM] [Warning] bagging_fraction is set=0.8773915681079515, subsample=1.0 will be ignored. Current value: bagging_fraction=0.8773915681079515
[LightGBM] [Warning] feature_fraction is set=0.4, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.4
[LightGBM] [Warning] bagging_freq is set=6, subsample_freq=0 will be ignored. Current value: bagging_freq=6
[LightGBM] [Warning] bagging_fraction is set=0.8773915681079515, subsample=1.0 will be ignored. Current value: bagging_fraction=0.8773915681079515
[LightGBM] [Warning] feature_fraction is set=0.4, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.4
[LightGBM] [Warning] bagging_freq is set=6, subsample_freq=0 will be ignored. Current value: bagging_freq=6
[LightGBM] [Warning] bagging_fraction is set=0.8773915681079515, subsample=1.0 will be ignored. Current value: bagging_fraction=0.8773915681079515
[LightGBM] [Warning] feature_fraction is set=0.4, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.4
[LightGBM] [Warning] bagging_freq is set=6, subsample_freq=0 will be ignored. Current value: bagging_freq=6
[LightGBM] [Warning] bagging_fraction is set=0.8773915681079515, subsample=1.0 will be ignored. Current value: bagging_fraction=0.8773915681079515
[LightGBM] [Warning] feature_fraction is set=0.4, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.4
[LightGBM] [Warning] bagging_freq is set=6, subsample_freq=0 will be ignored. Current value: bagging_freq=6
[LightGBM] [Warning] bagging_fraction is set=0.8773915681079515, subsample=1.0 will be ignored. Current value: bagging_fraction=0.8773915681079515
[LightGBM] [Warning] feature_fraction is set=0.4, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.4
[LightGBM] [Warning] bagging_freq is set=6, subsample_freq=0 will be ignored. Current value: bagging_freq=6
[LightGBM] [Warning] bagging_fraction is set=0.8773915681079515, subsample=1.0 will be ignored. Current value: bagging_fraction=0.8773915681079515
[LightGBM] [Warning] feature_fraction is set=0.4, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.4
[LightGBM] [Warning] bagging_freq is set=6, subsample_freq=0 will be ignored. Current value: bagging_freq=6
[LightGBM] [Warning] bagging_fraction is set=0.8773915681079515, subsample=1.0 will be ignored. Current value: bagging_fraction=0.8773915681079515
[LightGBM] [Warning] feature_fraction is set=0.4, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.4
[LightGBM] [Warning] bagging_freq is set=6, subsample_freq=0 will be ignored. Current value: bagging_freq=6
[LightGBM] [Warning] bagging_fraction is set=0.8773915681079515, subsample=1.0 will be ignored. Current value: bagging_fraction=0.8773915681079515
[LightGBM] [Warning] feature_fraction is set=0.4, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.4
[LightGBM] [Warning] bagging_freq is set=6, subsample_freq=0 will be ignored. Current value: bagging_freq=6

In [27]:
blend = blend_models([tunedlightgbm, tunedcat1])
md = predict_model(blend,data = test1)
md
y_pred = md['Label']
y_true = md['active']
t = y_pred.astype(float)
t
from sklearn.metrics import balanced_accuracy_score
accuracy = balanced_accuracy_score(y_true, t)
accuracy

0.8476890756302521

[LightGBM] [Warning] bagging_fraction is set=0.8773915681079515, subsample=1.0 will be ignored. Current value: bagging_fraction=0.8773915681079515
[LightGBM] [Warning] feature_fraction is set=0.4, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.4
[LightGBM] [Warning] bagging_freq is set=6, subsample_freq=0 will be ignored. Current value: bagging_freq=6