In [1]:
import numpy as np
import pandas as pd
df = pd.read_csv('rdkit.csv')
df.replace(to_replace='#NAME?',value=np.nan,inplace=True)
df.replace(to_replace=r'^\s*$',value=np.nan,regex=True,inplace=True)
columns = df.columns
df = df.astype("float", errors = "ignore")
df = np.float32(df)
df[np.isnan(df)] = 0
df[np.isinf(df)] = 0
df=pd.DataFrame(df,columns=columns)
ncol = df.shape[1]-1
x = df.iloc[:,0:ncol]
y = df['active']
corr_matrix = x.corr().abs()
upper = corr_matrix.where(np.triu(np.ones(corr_matrix.shape), k=1).astype(np.bool))
to_drop = [column for column in upper.columns if any(upper[column] > 0.95)]
x1 = x.drop(to_drop, axis=1)
x2 = x1.loc[:, (x1 != x1.iloc[0]).any()] 
x2 = x2.round(6)

In [2]:
df

,0,1,2,3,4,5,6,7,8,9,...,187,188,189,190,191,192,193,194,195,active
0,1.726,1139.849976,27.711000,22.427999,22.427999,19.063,13.684,13.684,9.651,9.651,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,1.0
1,1.869,610.760010,17.653999,14.957000,14.957000,11.091,9.370,9.370,9.654,9.654,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,1.884,650.023987,17.653999,14.840000,14.840000,11.091,9.222,9.222,9.423,9.423,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,1.860,775.122009,21.679001,17.461000,17.461000,13.316,10.449,10.449,10.455,10.455,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,1.837,671.614014,19.938999,16.941999,16.941999,12.475,10.377,10.377,10.474,10.474,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019,2.806,220.039001,8.268000,6.066000,6.066000,5.236,3.408,3.408,2.343,2.343,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2020,3.137,52.568001,4.992000,3.540000,5.052000,2.770,1.653,2.566,0.945,1.850,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2021,3.055,64.829002,6.406000,5.322000,6.139000,3.808,2.825,3.234,1.390,1.798,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2022,3.174,266.592010,14.891000,13.150000,13.150000,9.770,8.288,8.288,5.374,5.374,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7.0,0.0,0.0
2023,2.810,294.460999,11.475000,10.339000,10.339000,6.970,5.848,5.848,5.132,5.132,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [3]:
from sklearn.model_selection import train_test_split
x_train,x_val_test,y_train,y_val_test = train_test_split(x2,y,test_size = 0.2,random_state = 1)
x_val, x_test, y_val, y_test = train_test_split(x_val_test,y_val_test,test_size = 0.5,random_state = 1)

In [4]:
train = pd.concat([x_train,y_train],axis=1)
train

,0,1,2,14,15,16,17,18,19,20,...,186,187,188,189,191,192,193,194,195,active
49,1.974,886.710022,15.267000,0.000,10.002,0.0,5.907000,16.982,26.974001,0.000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1709,2.244,520.528992,9.380000,0.000,0.000,0.0,0.000000,0.000,22.552000,0.000,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2009,2.000,11.245000,2.828000,0.000,0.000,0.0,0.000000,0.000,13.214000,6.421,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1700,2.895,213.203995,7.397000,0.000,4.795,0.0,0.000000,5.563,12.036000,0.000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1873,1.633,2.755000,2.707000,0.000,0.000,0.0,0.000000,0.000,5.330000,0.000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1791,3.007,193.514008,6.690000,0.000,0.000,0.0,0.000000,5.750,11.984000,0.000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1096,2.913,374.033997,7.682000,0.000,0.000,0.0,0.000000,0.000,11.074000,5.386,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1932,2.908,419.617004,13.380000,11.939,9.589,0.0,24.341000,0.000,0.000000,24.285,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
235,1.119,1161.885986,23.426001,0.000,4.795,0.0,5.907000,17.858,55.655998,0.000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,1.0
1061,3.361,339.809998,9.301000,4.923,10.114,0.0,20.754999,0.000,0.000000,12.133,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [5]:
val = pd.concat([x_val,y_val],axis=1)
val

,0,1,2,14,15,16,17,18,19,20,...,186,187,188,189,191,192,193,194,195,active
979,1.254,136.201004,9.640000,0.000000,0.000000,0.000,0.000000,12.208000,52.483002,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0,1.0
321,2.161,1038.352051,19.113001,21.893999,21.589001,0.000,16.277000,5.563000,16.312000,24.264999,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1370,2.831,459.936005,9.259000,0.000000,10.114000,0.000,10.611000,5.386000,5.386000,6.066000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1960,2.610,544.205994,9.380000,0.000000,0.000000,0.000,0.000000,0.000000,5.517000,16.159000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
700,1.355,1367.644043,32.742001,17.426001,24.909000,0.000,51.758999,23.672001,63.351002,5.573000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1167,2.532,432.821014,13.707000,5.969000,4.795000,0.000,12.525000,27.424000,0.000000,12.133000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1653,3.282,200.899994,7.724000,0.000000,0.000000,0.000,0.000000,0.000000,5.687000,16.690001,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
259,1.387,2280.345947,44.939999,112.603996,39.292000,4.795,35.300999,5.563000,13.847000,25.980000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1086,2.293,514.882996,15.732000,5.969000,9.589000,0.000,23.909000,11.491000,19.261999,18.070000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1081,3.267,296.584991,9.138000,11.939000,9.589000,0.000,11.127000,0.000000,0.000000,24.264999,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [27]:
test1 = pd.concat([x_test,y_test],axis=1)
test1

,0,1,2,14,15,16,17,18,19,20,...,186,187,188,189,191,192,193,194,195,active
655,1.651,1155.389038,23.171000,46.487999,24.909,0.0,5.918000,24.091999,11.127000,15.373000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
957,2.641,615.577026,15.895000,0.000000,10.213,0.0,59.182999,0.000000,0.000000,12.133000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1976,3.345,340.157013,10.008000,10.893000,14.909,0.0,16.813999,0.000000,0.000000,25.122999,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
292,1.410,1193.708008,24.242001,6.042000,9.589,0.0,11.814000,37.560001,24.403000,11.337000,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
1183,2.474,216.912994,8.276000,0.000000,4.795,0.0,10.830000,11.701000,12.842000,6.421000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
653,2.504,506.072998,13.121000,0.000000,0.000,0.0,0.000000,6.607000,17.929001,22.263000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
177,2.274,1096.770020,22.542999,0.000000,10.213,0.0,11.499000,40.360001,16.700001,14.220000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1775,3.670,232.705994,10.975000,0.000000,4.795,0.0,5.969000,6.607000,12.842000,18.070000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1426,1.637,458.483002,14.828000,0.000000,9.901,0.0,11.519000,17.115999,43.437000,32.104000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
108,2.376,1019.409973,19.552000,0.000000,4.795,0.0,39.396000,17.073000,0.000000,34.506001,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [7]:
col_name = train.columns.values.tolist()
col_name.pop()

'active'

In [8]:
from pycaret.classification import *
CM = setup(data = train, target = 'active', test_data = val, silent=True, numeric_features = col_name,
             session_id=0, fold_strategy = 'stratifiedkfold', fold = 5, fold_shuffle = True, normalize = True, normalize_method = 'minmax')

In [9]:
mlp = create_model('mlp')
tunedmlp = tune_model(mlp,n_iter = 200, search_library = 'scikit-optimize',optimize = 'AUC')
predict_model(tunedmlp)

,0,1,2,14,15,16,17,18,19,20,...,188,189,191,192,193,194,195,active,Label,Score
0,0.223889,0.024118,0.087386,0.000000,0.000000,0.000000,0.000000,0.124476,0.510868,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.3125,0.0,1.0,0.0,0.7075
1,0.385824,0.183867,0.173258,0.097795,0.234875,0.000000,0.079146,0.056722,0.158781,0.131331,...,0.0,0.0,0.0,0.0,0.0,0.0000,0.0,1.0,1.0,0.6863
2,0.505445,0.081443,0.083932,0.000000,0.110034,0.000000,0.051595,0.054917,0.052427,0.032831,...,0.0,0.0,0.0,0.0,0.0,0.0000,0.0,0.0,0.0,0.8939
3,0.465988,0.096366,0.085029,0.000000,0.000000,0.000000,0.000000,0.000000,0.053702,0.087458,...,0.0,0.0,0.0,0.0,0.0,0.0000,0.0,0.0,0.0,0.6406
4,0.241921,0.242176,0.296805,0.077837,0.270994,0.000000,0.251674,0.241366,0.616657,0.030163,...,0.0,0.0,0.0,0.0,0.0,0.0000,0.0,1.0,1.0,0.8863
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
197,0.452062,0.076642,0.124253,0.026662,0.052167,0.000000,0.060902,0.279623,0.000000,0.065668,...,0.0,0.0,0.0,0.0,0.0,0.0000,0.0,0.0,0.0,0.6920
198,0.585967,0.035574,0.070018,0.000000,0.000000,0.000000,0.000000,0.000000,0.055357,0.090332,...,0.0,0.0,0.0,0.0,0.0,0.0000,0.0,0.0,0.0,0.9421
199,0.247634,0.403793,0.407379,0.502973,0.427473,0.250026,0.171648,0.056722,0.134786,0.140613,...,0.0,0.0,0.0,0.0,0.0,0.0000,0.0,1.0,1.0,0.7769
200,0.409391,0.091173,0.142610,0.026662,0.104322,0.000000,0.116256,0.117165,0.187496,0.097801,...,0.0,0.0,0.0,0.0,0.0,0.0000,0.0,0.0,0.0,0.6213
201,0.583289,0.052518,0.082836,0.053328,0.104322,0.000000,0.054104,0.000000,0.000000,0.131331,...,0.0,0.0,0.0,0.0,0.0,0.0000,0.0,0.0,0.0,0.9613

In [10]:
xgb = create_model('xgboost')
tunedxgb = tune_model(xgb,n_iter = 200, search_library = 'scikit-optimize',optimize = 'AUC')
predict_model(tunedxgb)

,0,1,2,14,15,16,17,18,19,20,...,188,189,191,192,193,194,195,active,Label,Score
0,0.223889,0.024118,0.087386,0.000000,0.000000,0.000000,0.000000,0.124476,0.510868,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.3125,0.0,1.0,0.0,0.9910
1,0.385824,0.183867,0.173258,0.097795,0.234875,0.000000,0.079146,0.056722,0.158781,0.131331,...,0.0,0.0,0.0,0.0,0.0,0.0000,0.0,1.0,1.0,0.7237
2,0.505445,0.081443,0.083932,0.000000,0.110034,0.000000,0.051595,0.054917,0.052427,0.032831,...,0.0,0.0,0.0,0.0,0.0,0.0000,0.0,0.0,0.0,0.9516
3,0.465988,0.096366,0.085029,0.000000,0.000000,0.000000,0.000000,0.000000,0.053702,0.087458,...,0.0,0.0,0.0,0.0,0.0,0.0000,0.0,0.0,0.0,0.8442
4,0.241921,0.242176,0.296805,0.077837,0.270994,0.000000,0.251674,0.241366,0.616657,0.030163,...,0.0,0.0,0.0,0.0,0.0,0.0000,0.0,1.0,1.0,0.9955
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
197,0.452062,0.076642,0.124253,0.026662,0.052167,0.000000,0.060902,0.279623,0.000000,0.065668,...,0.0,0.0,0.0,0.0,0.0,0.0000,0.0,0.0,0.0,0.8005
198,0.585967,0.035574,0.070018,0.000000,0.000000,0.000000,0.000000,0.000000,0.055357,0.090332,...,0.0,0.0,0.0,0.0,0.0,0.0000,0.0,0.0,0.0,0.9883
199,0.247634,0.403793,0.407379,0.502973,0.427473,0.250026,0.171648,0.056722,0.134786,0.140613,...,0.0,0.0,0.0,0.0,0.0,0.0000,0.0,1.0,1.0,0.8117
200,0.409391,0.091173,0.142610,0.026662,0.104322,0.000000,0.116256,0.117165,0.187496,0.097801,...,0.0,0.0,0.0,0.0,0.0,0.0000,0.0,0.0,1.0,0.6307
201,0.583289,0.052518,0.082836,0.053328,0.104322,0.000000,0.054104,0.000000,0.000000,0.131331,...,0.0,0.0,0.0,0.0,0.0,0.0000,0.0,0.0,0.0,0.9967

In [11]:
rf = create_model('rf')
tunedrf = tune_model(rf, n_iter = 200,search_library = 'scikit-optimize',optimize = 'AUC')
predict_model(tunedrf)

,0,1,2,14,15,16,17,18,19,20,...,188,189,191,192,193,194,195,active,Label,Score
0,0.223889,0.024118,0.087386,0.000000,0.000000,0.000000,0.000000,0.124476,0.510868,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.3125,0.0,1.0,0.0,0.8622
1,0.385824,0.183867,0.173258,0.097795,0.234875,0.000000,0.079146,0.056722,0.158781,0.131331,...,0.0,0.0,0.0,0.0,0.0,0.0000,0.0,1.0,1.0,0.5958
2,0.505445,0.081443,0.083932,0.000000,0.110034,0.000000,0.051595,0.054917,0.052427,0.032831,...,0.0,0.0,0.0,0.0,0.0,0.0000,0.0,0.0,0.0,0.9467
3,0.465988,0.096366,0.085029,0.000000,0.000000,0.000000,0.000000,0.000000,0.053702,0.087458,...,0.0,0.0,0.0,0.0,0.0,0.0000,0.0,0.0,0.0,0.8366
4,0.241921,0.242176,0.296805,0.077837,0.270994,0.000000,0.251674,0.241366,0.616657,0.030163,...,0.0,0.0,0.0,0.0,0.0,0.0000,0.0,1.0,1.0,0.7929
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
197,0.452062,0.076642,0.124253,0.026662,0.052167,0.000000,0.060902,0.279623,0.000000,0.065668,...,0.0,0.0,0.0,0.0,0.0,0.0000,0.0,0.0,0.0,0.7704
198,0.585967,0.035574,0.070018,0.000000,0.000000,0.000000,0.000000,0.000000,0.055357,0.090332,...,0.0,0.0,0.0,0.0,0.0,0.0000,0.0,0.0,0.0,0.9540
199,0.247634,0.403793,0.407379,0.502973,0.427473,0.250026,0.171648,0.056722,0.134786,0.140613,...,0.0,0.0,0.0,0.0,0.0,0.0000,0.0,1.0,1.0,0.5847
200,0.409391,0.091173,0.142610,0.026662,0.104322,0.000000,0.116256,0.117165,0.187496,0.097801,...,0.0,0.0,0.0,0.0,0.0,0.0000,0.0,0.0,0.0,0.7659
201,0.583289,0.052518,0.082836,0.053328,0.104322,0.000000,0.054104,0.000000,0.000000,0.131331,...,0.0,0.0,0.0,0.0,0.0,0.0000,0.0,0.0,0.0,0.9281

In [12]:
et = create_model('et')
tunedet = tune_model(et, n_iter = 200,search_library = 'scikit-optimize',optimize = 'AUC')
predict_model(tunedet)

,0,1,2,14,15,16,17,18,19,20,...,188,189,191,192,193,194,195,active,Label,Score
0,0.223889,0.024118,0.087386,0.000000,0.000000,0.000000,0.000000,0.124476,0.510868,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.3125,0.0,1.0,0.0,0.7435
1,0.385824,0.183867,0.173258,0.097795,0.234875,0.000000,0.079146,0.056722,0.158781,0.131331,...,0.0,0.0,0.0,0.0,0.0,0.0000,0.0,1.0,1.0,0.6207
2,0.505445,0.081443,0.083932,0.000000,0.110034,0.000000,0.051595,0.054917,0.052427,0.032831,...,0.0,0.0,0.0,0.0,0.0,0.0000,0.0,0.0,0.0,0.9030
3,0.465988,0.096366,0.085029,0.000000,0.000000,0.000000,0.000000,0.000000,0.053702,0.087458,...,0.0,0.0,0.0,0.0,0.0,0.0000,0.0,0.0,0.0,0.6109
4,0.241921,0.242176,0.296805,0.077837,0.270994,0.000000,0.251674,0.241366,0.616657,0.030163,...,0.0,0.0,0.0,0.0,0.0,0.0000,0.0,1.0,1.0,0.7055
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
197,0.452062,0.076642,0.124253,0.026662,0.052167,0.000000,0.060902,0.279623,0.000000,0.065668,...,0.0,0.0,0.0,0.0,0.0,0.0000,0.0,0.0,0.0,0.8436
198,0.585967,0.035574,0.070018,0.000000,0.000000,0.000000,0.000000,0.000000,0.055357,0.090332,...,0.0,0.0,0.0,0.0,0.0,0.0000,0.0,0.0,0.0,0.9403
199,0.247634,0.403793,0.407379,0.502973,0.427473,0.250026,0.171648,0.056722,0.134786,0.140613,...,0.0,0.0,0.0,0.0,0.0,0.0000,0.0,1.0,1.0,0.6461
200,0.409391,0.091173,0.142610,0.026662,0.104322,0.000000,0.116256,0.117165,0.187496,0.097801,...,0.0,0.0,0.0,0.0,0.0,0.0000,0.0,0.0,0.0,0.7112
201,0.583289,0.052518,0.082836,0.053328,0.104322,0.000000,0.054104,0.000000,0.000000,0.131331,...,0.0,0.0,0.0,0.0,0.0,0.0000,0.0,0.0,0.0,0.9571

In [13]:
catboost = create_model('catboost')
tunedcat1 = tune_model(catboost, n_iter = 200,search_library = 'scikit-optimize',optimize = 'AUC')
predict_model(tunedcat1)

,0,1,2,14,15,16,17,18,19,20,...,188,189,191,192,193,194,195,active,Label,Score
0,0.223889,0.024118,0.087386,0.000000,0.000000,0.000000,0.000000,0.124476,0.510868,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.3125,0.0,1.0,0.0,0.9233
1,0.385824,0.183867,0.173258,0.097795,0.234875,0.000000,0.079146,0.056722,0.158781,0.131331,...,0.0,0.0,0.0,0.0,0.0,0.0000,0.0,1.0,1.0,0.5039
2,0.505445,0.081443,0.083932,0.000000,0.110034,0.000000,0.051595,0.054917,0.052427,0.032831,...,0.0,0.0,0.0,0.0,0.0,0.0000,0.0,0.0,0.0,0.9546
3,0.465988,0.096366,0.085029,0.000000,0.000000,0.000000,0.000000,0.000000,0.053702,0.087458,...,0.0,0.0,0.0,0.0,0.0,0.0000,0.0,0.0,0.0,0.9129
4,0.241921,0.242176,0.296805,0.077837,0.270994,0.000000,0.251674,0.241366,0.616657,0.030163,...,0.0,0.0,0.0,0.0,0.0,0.0000,0.0,1.0,1.0,0.8710
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
197,0.452062,0.076642,0.124253,0.026662,0.052167,0.000000,0.060902,0.279623,0.000000,0.065668,...,0.0,0.0,0.0,0.0,0.0,0.0000,0.0,0.0,0.0,0.9444
198,0.585967,0.035574,0.070018,0.000000,0.000000,0.000000,0.000000,0.000000,0.055357,0.090332,...,0.0,0.0,0.0,0.0,0.0,0.0000,0.0,0.0,0.0,0.9739
199,0.247634,0.403793,0.407379,0.502973,0.427473,0.250026,0.171648,0.056722,0.134786,0.140613,...,0.0,0.0,0.0,0.0,0.0,0.0000,0.0,1.0,1.0,0.7981
200,0.409391,0.091173,0.142610,0.026662,0.104322,0.000000,0.116256,0.117165,0.187496,0.097801,...,0.0,0.0,0.0,0.0,0.0,0.0000,0.0,0.0,0.0,0.6255
201,0.583289,0.052518,0.082836,0.053328,0.104322,0.000000,0.054104,0.000000,0.000000,0.131331,...,0.0,0.0,0.0,0.0,0.0,0.0000,0.0,0.0,0.0,0.9830

In [14]:
lightgbm = create_model('lightgbm')
tunedlightgbm = tune_model(lightgbm,n_iter = 200, search_library = 'scikit-optimize',optimize = 'AUC')
predict_model(tunedlightgbm)

,0,1,2,14,15,16,17,18,19,20,...,188,189,191,192,193,194,195,active,Label,Score
0,0.223889,0.024118,0.087386,0.000000,0.000000,0.000000,0.000000,0.124476,0.510868,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.3125,0.0,1.0,0.0,0.8147
1,0.385824,0.183867,0.173258,0.097795,0.234875,0.000000,0.079146,0.056722,0.158781,0.131331,...,0.0,0.0,0.0,0.0,0.0,0.0000,0.0,1.0,0.0,0.5860
2,0.505445,0.081443,0.083932,0.000000,0.110034,0.000000,0.051595,0.054917,0.052427,0.032831,...,0.0,0.0,0.0,0.0,0.0,0.0000,0.0,0.0,0.0,0.9664
3,0.465988,0.096366,0.085029,0.000000,0.000000,0.000000,0.000000,0.000000,0.053702,0.087458,...,0.0,0.0,0.0,0.0,0.0,0.0000,0.0,0.0,0.0,0.9373
4,0.241921,0.242176,0.296805,0.077837,0.270994,0.000000,0.251674,0.241366,0.616657,0.030163,...,0.0,0.0,0.0,0.0,0.0,0.0000,0.0,1.0,1.0,0.9585
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
197,0.452062,0.076642,0.124253,0.026662,0.052167,0.000000,0.060902,0.279623,0.000000,0.065668,...,0.0,0.0,0.0,0.0,0.0,0.0000,0.0,0.0,0.0,0.9075
198,0.585967,0.035574,0.070018,0.000000,0.000000,0.000000,0.000000,0.000000,0.055357,0.090332,...,0.0,0.0,0.0,0.0,0.0,0.0000,0.0,0.0,0.0,0.9835
199,0.247634,0.403793,0.407379,0.502973,0.427473,0.250026,0.171648,0.056722,0.134786,0.140613,...,0.0,0.0,0.0,0.0,0.0,0.0000,0.0,1.0,1.0,0.7381
200,0.409391,0.091173,0.142610,0.026662,0.104322,0.000000,0.116256,0.117165,0.187496,0.097801,...,0.0,0.0,0.0,0.0,0.0,0.0000,0.0,0.0,0.0,0.8493
201,0.583289,0.052518,0.082836,0.053328,0.104322,0.000000,0.054104,0.000000,0.000000,0.131331,...,0.0,0.0,0.0,0.0,0.0,0.0000,0.0,0.0,0.0,0.9870

In [25]:
from itertools import combinations
ml = [tunedrf, tunedet, tunedlightgbm, tunedcat1, tunedxgb,tunedmlp]
a2 =  list(combinations(ml, 2))
a3 =  list(combinations(ml, 3))
a4 =  list(combinations(ml, 4))
a5 =  list(combinations(ml, 5))
a6 =  list(combinations(ml, 6))

all = a2 + a3 + a4 + a5 + a6 
print(len(all))
print(len(a2),len(a3),len(a4),len(a5),len(a6))

57
15 20 15 6 1

In [16]:
base_score = 0
for i in all:
    blender = blend_models(i)
    predict_model(blender)
    test = pull()
    avg = test['Accuracy']
    avg = avg.iloc[0]
    if avg > base_score:
       base_score = avg
       best_params = i
print(best_params, base_score)

(RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=-1, oob_score=False, random_state=0, verbose=0,
                       warm_start=False), ExtraTreesClassifier(bootstrap=False, ccp_alpha=0.0, class_weight=None,
                     criterion='gini', max_depth=None, max_features='auto',
                     max_leaf_nodes=None, max_samples=None,
                     min_impurity_decrease=0.0, min_impurity_split=None,
                     min_samples_leaf=1, min_samples_split=2,
                     min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=-1,
                     oob_score=False, random_state=0, verbose=0,
                     warm_start=False)) 0.8713

In [26]:
base_score = 0
for i in all:
    blender = blend_models(i)
    predict_model(blender)
    test = pull()
    avg = test['AUC']
    avg = avg.iloc[0]
    if avg > base_score:
       base_score = avg
       best_params = i
print(best_params, base_score)

(RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='entropy', max_depth=11,
                       max_features=0.5040496760858937, max_leaf_nodes=None,
                       max_samples=None,
                       min_impurity_decrease=1.1199715767539472e-07,
                       min_impurity_split=None, min_samples_leaf=2,
                       min_samples_split=2, min_weight_fraction_leaf=0.0,
                       n_estimators=219, n_jobs=-1, oob_score=False,
                       random_state=0, verbose=0, warm_start=False), ExtraTreesClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                     criterion='entropy', max_depth=11,
                     max_features=0.8322738606513411, max_leaf_nodes=None,
                     max_samples=None,
                     min_impurity_decrease=0.0005061790291842578,
                     min_impurity_split=None, min_samples_leaf=1,
                     min_samples_split=5, min_weight_fraction_leaf=0.0,
                     n_estimators=298, n_jobs=-1, oob_score=False,
                     random_state=0, verbose=0, warm_start=False), MLPClassifier(activation='relu', alpha=0.9999999998999984, batch_size='auto',
              beta_1=0.9, beta_2=0.999, early_stopping=False, epsilon=1e-08,
              hidden_layer_sizes=[80, 10], learning_rate='constant',
              learning_rate_init=0.001, max_fun=15000, max_iter=500,
              momentum=0.9, n_iter_no_change=10, nesterovs_momentum=True,
              power_t=0.5, random_state=0, shuffle=True, solver='adam',
              tol=0.0001, validation_fraction=0.1, verbose=False,
              warm_start=False)) 0.9354
[LightGBM] [Warning] bagging_fraction is set=0.4, subsample=1.0 will be ignored. Current value: bagging_fraction=0.4
[LightGBM] [Warning] feature_fraction is set=1.0, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=1.0
[LightGBM] [Warning] bagging_freq is set=1, subsample_freq=0 will be ignored. Current value: bagging_freq=1
[LightGBM] [Warning] bagging_fraction is set=0.4, subsample=1.0 will be ignored. Current value: bagging_fraction=0.4
[LightGBM] [Warning] feature_fraction is set=1.0, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=1.0
[LightGBM] [Warning] bagging_freq is set=1, subsample_freq=0 will be ignored. Current value: bagging_freq=1
[LightGBM] [Warning] bagging_fraction is set=0.4, subsample=1.0 will be ignored. Current value: bagging_fraction=0.4
[LightGBM] [Warning] feature_fraction is set=1.0, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=1.0
[LightGBM] [Warning] bagging_freq is set=1, subsample_freq=0 will be ignored. Current value: bagging_freq=1

In [28]:
blend = blend_models([tunedrf, tunedet, tunedmlp])
md = predict_model(blend,data = test1)
md
y_pred = md['Label']
y_true = md['active']
t = y_pred.astype(float)
t
from sklearn.metrics import balanced_accuracy_score
accuracy = balanced_accuracy_score(y_true, t)
accuracy

0.888023893458676