In [1]:
import numpy as np
import pandas as pd
df = pd.read_csv('rdkit.csv')
df.replace(to_replace='#NAME?',value=np.nan,inplace=True)
df.replace(to_replace=r'^\s*$',value=np.nan,regex=True,inplace=True)
columns = df.columns
df = df.astype("float", errors = "ignore")
df = np.float32(df)
df[np.isnan(df)] = 0
df[np.isinf(df)] = 0
df=pd.DataFrame(df,columns=columns)
ncol = df.shape[1]-1
x = df.iloc[:,0:ncol]
y = df['active']
corr_matrix = x.corr().abs()
upper = corr_matrix.where(np.triu(np.ones(corr_matrix.shape), k=1).astype(np.bool))
to_drop = [column for column in upper.columns if any(upper[column] > 0.95)]
x1 = x.drop(to_drop, axis=1)
x2 = x1.loc[:, (x1 != x1.iloc[0]).any()] 
x2 = x2.round(6)

In [2]:
df

,0,1,2,3,4,5,6,7,8,9,...,187,188,189,190,191,192,193,194,195,active
0,1.726,1139.849976,27.711000,22.427999,22.427999,19.063,13.684,13.684,9.651,9.651,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,1.0
1,1.869,610.760010,17.653999,14.957000,14.957000,11.091,9.370,9.370,9.654,9.654,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,1.884,650.023987,17.653999,14.840000,14.840000,11.091,9.222,9.222,9.423,9.423,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,1.860,775.122009,21.679001,17.461000,17.461000,13.316,10.449,10.449,10.455,10.455,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,1.837,671.614014,19.938999,16.941999,16.941999,12.475,10.377,10.377,10.474,10.474,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019,2.806,220.039001,8.268000,6.066000,6.066000,5.236,3.408,3.408,2.343,2.343,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2020,3.137,52.568001,4.992000,3.540000,5.052000,2.770,1.653,2.566,0.945,1.850,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2021,3.055,64.829002,6.406000,5.322000,6.139000,3.808,2.825,3.234,1.390,1.798,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2022,3.174,266.592010,14.891000,13.150000,13.150000,9.770,8.288,8.288,5.374,5.374,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7.0,0.0,0.0
2023,2.810,294.460999,11.475000,10.339000,10.339000,6.970,5.848,5.848,5.132,5.132,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [3]:
from sklearn.model_selection import train_test_split
x_train,x_val_test,y_train,y_val_test = train_test_split(x2,y,test_size = 0.2,random_state = 3)
x_val, x_test, y_val, y_test = train_test_split(x_val_test,y_val_test,test_size = 0.5,random_state = 3)

In [4]:
train = pd.concat([x_train,y_train],axis=1)
train

,0,1,2,14,15,16,17,18,19,20,...,186,187,188,189,191,192,193,194,195,active
1600,2.736,253.298996,8.268000,0.000,4.795,0.0,11.657,5.687000,0.000000,19.056,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
979,1.254,136.201004,9.640000,0.000,0.000,0.0,0.000,12.208000,52.483002,0.000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0,1.0
1671,2.847,40.158001,4.284000,0.000,0.000,0.0,0.000,10.912000,0.000000,0.000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
216,1.184,1548.220093,26.768999,5.969,9.589,0.0,17.705,28.854000,60.679001,29.704,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0
1692,2.292,451.562988,10.510000,0.000,5.207,0.0,0.000,16.235001,0.000000,0.000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
952,3.138,284.380005,9.353000,0.000,5.107,0.0,16.914,0.000000,5.563000,6.066,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1667,2.832,301.782990,10.552000,0.000,0.000,0.0,11.325,11.897000,6.545000,0.000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1273,2.447,26.115999,5.536000,0.000,0.000,0.0,13.214,13.214000,0.000000,0.000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0
1688,1.964,320.563995,9.966000,6.104,4.795,0.0,12.073,6.607000,5.563000,0.000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1898,2.831,54.755001,4.992000,0.000,4.795,0.0,4.574,0.000000,17.514999,0.000,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [5]:
val = pd.concat([x_val,y_val],axis=1)
val

,0,1,2,14,15,16,17,18,19,20,...,186,187,188,189,191,192,193,194,195,active
768,1.396,900.596985,20.379999,5.918000,9.589000,0.0,17.483999,23.483000,38.039001,5.563000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1493,3.125,61.369999,3.536000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
373,2.158,2422.783936,62.792999,157.054001,68.058998,0.0,69.023003,24.826000,17.742001,13.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0
2015,1.826,462.795013,11.924000,0.000000,4.795000,0.0,5.969000,13.028000,11.127000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
631,2.050,588.979004,11.458000,0.000000,0.000000,0.0,5.539000,6.042000,6.421000,22.254000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73,1.433,1316.906006,24.907000,0.000000,5.107000,0.0,11.127000,33.875999,49.550999,6.066000,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
752,1.968,1069.306030,19.715000,11.921000,9.185000,0.0,27.172001,16.690001,0.000000,22.766001,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2023,2.810,294.460999,11.475000,0.000000,4.795000,0.0,5.783000,17.754000,0.000000,18.415001,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1888,2.912,77.838997,9.397000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,38.772999,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0
1816,1.962,317.384003,10.889000,0.000000,0.000000,0.0,5.415000,12.711000,12.356000,5.563000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [27]:
test1 = pd.concat([x_test,y_test],axis=1)
test1

,0,1,2,14,15,16,17,18,19,20,...,186,187,188,189,191,192,193,194,195,active
1518,1.720,1104.425049,20.148001,21.775999,18.007,0.0,21.997999,5.687000,12.152000,42.605000,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
288,2.067,755.958984,14.656000,0.000000,0.000,0.0,5.948000,13.214000,28.040001,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0
1915,1.688,507.696014,14.828000,0.000000,9.901,0.0,16.934000,11.701000,37.519001,31.256001,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
456,2.031,207.056000,9.320000,0.000000,0.000,0.0,5.539000,10.830000,5.918000,38.525002,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
751,1.763,1029.156982,18.681000,0.000000,9.901,0.0,11.533000,5.750000,27.985001,25.327999,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1200,2.831,52.755001,4.992000,4.923000,10.114,0.0,13.152000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1290,3.851,110.754997,5.207000,10.118000,8.418,0.0,0.000000,0.000000,13.366000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
896,1.376,1398.338013,26.158001,4.923000,10.114,0.0,12.294000,73.912003,10.950000,18.459999,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2012,2.475,392.878998,9.096000,0.000000,0.000,0.0,0.000000,0.000000,4.473000,11.127000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1343,2.212,357.744995,12.088000,0.000000,4.795,0.0,17.929001,0.000000,18.528999,19.951000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [7]:
col_name = train.columns.values.tolist()
col_name.pop()

'active'

In [8]:
from pycaret.classification import *
CM = setup(data = train, target = 'active', test_data = val, silent=True, numeric_features = col_name,
             session_id=0, fold_strategy = 'stratifiedkfold', fold = 5, fold_shuffle = True, normalize = True, normalize_method = 'minmax')

In [9]:
mlp = create_model('mlp')
tunedmlp = tune_model(mlp,n_iter = 200, search_library = 'scikit-optimize',optimize = 'AUC')
predict_model(tunedmlp)

,0,1,2,14,15,16,17,18,19,20,...,188,189,191,192,193,194,195,active,Label,Score
0,0.249241,0.159474,0.184744,0.028180,0.110458,0.0,0.085015,0.239439,0.370271,0.030109,...,0.0,0.0,0.0,0.0,0.0,0.0000,0.0,0.0,1.0,0.6896
1,0.557936,0.010867,0.032054,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0000,0.0,0.0,0.0,0.8609
2,0.385288,0.429016,0.569215,0.747844,0.783991,0.0,0.335619,0.253133,0.172700,0.070361,...,0.0,0.0,0.0,0.0,0.0,0.0625,0.0,1.0,1.0,0.8688
3,0.326013,0.081950,0.108090,0.000000,0.055235,0.0,0.029024,0.132837,0.108310,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0000,0.0,0.0,0.0,0.8400
4,0.366006,0.104294,0.103866,0.000000,0.000000,0.0,0.026933,0.061606,0.062502,0.120447,...,0.0,0.0,0.0,0.0,0.0,0.0000,0.0,1.0,0.0,0.9012
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
197,0.255847,0.233192,0.225781,0.000000,0.058829,0.0,0.054104,0.345409,0.482328,0.032831,...,0.0,0.0,0.0,0.0,0.0,0.0000,0.0,1.0,1.0,0.7980
198,0.351366,0.189348,0.178715,0.056764,0.105805,0.0,0.132122,0.170176,0.000000,0.123218,...,0.0,0.0,0.0,0.0,0.0,0.0000,0.0,1.0,1.0,0.7992
199,0.501696,0.052142,0.104020,0.000000,0.055235,0.0,0.028119,0.181025,0.000000,0.099669,...,0.0,0.0,0.0,0.0,0.0,0.0000,0.0,0.0,0.0,0.8558
200,0.519907,0.013783,0.085183,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.209854,...,0.0,0.0,0.0,0.0,0.0,0.1875,0.0,0.0,0.0,0.9443
201,0.350295,0.056201,0.098708,0.000000,0.000000,0.0,0.026330,0.129605,0.120273,0.030109,...,0.0,0.0,0.0,0.0,0.0,0.0000,0.0,0.0,0.0,0.8346

In [10]:
xgb = create_model('xgboost')
tunedxgb = tune_model(xgb,n_iter = 200, search_library = 'scikit-optimize',optimize = 'AUC')
predict_model(tunedxgb)

,0,1,2,14,15,16,17,18,19,20,...,188,189,191,192,193,194,195,active,Label,Score
0,0.249241,0.159474,0.184744,0.028180,0.110458,0.0,0.085015,0.239439,0.370271,0.030109,...,0.0,0.0,0.0,0.0,0.0,0.0000,0.0,0.0,1.0,0.9854
1,0.557936,0.010867,0.032054,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0000,0.0,0.0,0.0,0.6407
2,0.385288,0.429016,0.569215,0.747844,0.783991,0.0,0.335619,0.253133,0.172700,0.070361,...,0.0,0.0,0.0,0.0,0.0,0.0625,0.0,1.0,1.0,0.9939
3,0.326013,0.081950,0.108090,0.000000,0.055235,0.0,0.029024,0.132837,0.108310,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0000,0.0,0.0,0.0,0.9617
4,0.366006,0.104294,0.103866,0.000000,0.000000,0.0,0.026933,0.061606,0.062502,0.120447,...,0.0,0.0,0.0,0.0,0.0,0.0000,0.0,1.0,0.0,0.7288
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
197,0.255847,0.233192,0.225781,0.000000,0.058829,0.0,0.054104,0.345409,0.482328,0.032831,...,0.0,0.0,0.0,0.0,0.0,0.0000,0.0,1.0,1.0,0.9964
198,0.351366,0.189348,0.178715,0.056764,0.105805,0.0,0.132122,0.170176,0.000000,0.123218,...,0.0,0.0,0.0,0.0,0.0,0.0000,0.0,1.0,1.0,0.9959
199,0.501696,0.052142,0.104020,0.000000,0.055235,0.0,0.028119,0.181025,0.000000,0.099669,...,0.0,0.0,0.0,0.0,0.0,0.0000,0.0,0.0,0.0,0.7507
200,0.519907,0.013783,0.085183,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.209854,...,0.0,0.0,0.0,0.0,0.0,0.1875,0.0,0.0,0.0,0.9326
201,0.350295,0.056201,0.098708,0.000000,0.000000,0.0,0.026330,0.129605,0.120273,0.030109,...,0.0,0.0,0.0,0.0,0.0,0.0000,0.0,0.0,0.0,0.7535

In [11]:
rf = create_model('rf')
tunedrf = tune_model(rf, n_iter = 200,search_library = 'scikit-optimize',optimize = 'AUC')
predict_model(tunedrf)

,0,1,2,14,15,16,17,18,19,20,...,188,189,191,192,193,194,195,active,Label,Score
0,0.249241,0.159474,0.184744,0.028180,0.110458,0.0,0.085015,0.239439,0.370271,0.030109,...,0.0,0.0,0.0,0.0,0.0,0.0000,0.0,0.0,1.0,0.8435
1,0.557936,0.010867,0.032054,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0000,0.0,0.0,0.0,0.8370
2,0.385288,0.429016,0.569215,0.747844,0.783991,0.0,0.335619,0.253133,0.172700,0.070361,...,0.0,0.0,0.0,0.0,0.0,0.0625,0.0,1.0,1.0,0.9036
3,0.326013,0.081950,0.108090,0.000000,0.055235,0.0,0.029024,0.132837,0.108310,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0000,0.0,0.0,0.0,0.9324
4,0.366006,0.104294,0.103866,0.000000,0.000000,0.0,0.026933,0.061606,0.062502,0.120447,...,0.0,0.0,0.0,0.0,0.0,0.0000,0.0,1.0,0.0,0.8205
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
197,0.255847,0.233192,0.225781,0.000000,0.058829,0.0,0.054104,0.345409,0.482328,0.032831,...,0.0,0.0,0.0,0.0,0.0,0.0000,0.0,1.0,1.0,0.9120
198,0.351366,0.189348,0.178715,0.056764,0.105805,0.0,0.132122,0.170176,0.000000,0.123218,...,0.0,0.0,0.0,0.0,0.0,0.0000,0.0,1.0,1.0,0.9241
199,0.501696,0.052142,0.104020,0.000000,0.055235,0.0,0.028119,0.181025,0.000000,0.099669,...,0.0,0.0,0.0,0.0,0.0,0.0000,0.0,0.0,0.0,0.9148
200,0.519907,0.013783,0.085183,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.209854,...,0.0,0.0,0.0,0.0,0.0,0.1875,0.0,0.0,0.0,0.8168
201,0.350295,0.056201,0.098708,0.000000,0.000000,0.0,0.026330,0.129605,0.120273,0.030109,...,0.0,0.0,0.0,0.0,0.0,0.0000,0.0,0.0,0.0,0.9083

In [12]:
et = create_model('et')
tunedet = tune_model(et, n_iter = 200,search_library = 'scikit-optimize',optimize = 'AUC')
predict_model(tunedet)

,0,1,2,14,15,16,17,18,19,20,...,188,189,191,192,193,194,195,active,Label,Score
0,0.249241,0.159474,0.184744,0.028180,0.110458,0.0,0.085015,0.239439,0.370271,0.030109,...,0.0,0.0,0.0,0.0,0.0,0.0000,0.0,0.0,1.0,0.7648
1,0.557936,0.010867,0.032054,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0000,0.0,0.0,0.0,0.9233
2,0.385288,0.429016,0.569215,0.747844,0.783991,0.0,0.335619,0.253133,0.172700,0.070361,...,0.0,0.0,0.0,0.0,0.0,0.0625,0.0,1.0,1.0,0.9562
3,0.326013,0.081950,0.108090,0.000000,0.055235,0.0,0.029024,0.132837,0.108310,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0000,0.0,0.0,0.0,0.9242
4,0.366006,0.104294,0.103866,0.000000,0.000000,0.0,0.026933,0.061606,0.062502,0.120447,...,0.0,0.0,0.0,0.0,0.0,0.0000,0.0,1.0,0.0,0.7566
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
197,0.255847,0.233192,0.225781,0.000000,0.058829,0.0,0.054104,0.345409,0.482328,0.032831,...,0.0,0.0,0.0,0.0,0.0,0.0000,0.0,1.0,1.0,0.9070
198,0.351366,0.189348,0.178715,0.056764,0.105805,0.0,0.132122,0.170176,0.000000,0.123218,...,0.0,0.0,0.0,0.0,0.0,0.0000,0.0,1.0,1.0,0.9341
199,0.501696,0.052142,0.104020,0.000000,0.055235,0.0,0.028119,0.181025,0.000000,0.099669,...,0.0,0.0,0.0,0.0,0.0,0.0000,0.0,0.0,0.0,0.8910
200,0.519907,0.013783,0.085183,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.209854,...,0.0,0.0,0.0,0.0,0.0,0.1875,0.0,0.0,0.0,0.8397
201,0.350295,0.056201,0.098708,0.000000,0.000000,0.0,0.026330,0.129605,0.120273,0.030109,...,0.0,0.0,0.0,0.0,0.0,0.0000,0.0,0.0,0.0,0.8716

In [13]:
catboost = create_model('catboost')
tunedcat1 = tune_model(catboost, n_iter = 200,search_library = 'scikit-optimize',optimize = 'AUC')
predict_model(tunedcat1)

,0,1,2,14,15,16,17,18,19,20,...,188,189,191,192,193,194,195,active,Label,Score
0,0.249241,0.159474,0.184744,0.028180,0.110458,0.0,0.085015,0.239439,0.370271,0.030109,...,0.0,0.0,0.0,0.0,0.0,0.0000,0.0,0.0,1.0,0.7031
1,0.557936,0.010867,0.032054,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0000,0.0,0.0,0.0,0.8998
2,0.385288,0.429016,0.569215,0.747844,0.783991,0.0,0.335619,0.253133,0.172700,0.070361,...,0.0,0.0,0.0,0.0,0.0,0.0625,0.0,1.0,1.0,0.9620
3,0.326013,0.081950,0.108090,0.000000,0.055235,0.0,0.029024,0.132837,0.108310,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0000,0.0,0.0,0.0,0.9592
4,0.366006,0.104294,0.103866,0.000000,0.000000,0.0,0.026933,0.061606,0.062502,0.120447,...,0.0,0.0,0.0,0.0,0.0,0.0000,0.0,1.0,0.0,0.8485
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
197,0.255847,0.233192,0.225781,0.000000,0.058829,0.0,0.054104,0.345409,0.482328,0.032831,...,0.0,0.0,0.0,0.0,0.0,0.0000,0.0,1.0,1.0,0.9699
198,0.351366,0.189348,0.178715,0.056764,0.105805,0.0,0.132122,0.170176,0.000000,0.123218,...,0.0,0.0,0.0,0.0,0.0,0.0000,0.0,1.0,1.0,0.9536
199,0.501696,0.052142,0.104020,0.000000,0.055235,0.0,0.028119,0.181025,0.000000,0.099669,...,0.0,0.0,0.0,0.0,0.0,0.0000,0.0,0.0,0.0,0.9544
200,0.519907,0.013783,0.085183,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.209854,...,0.0,0.0,0.0,0.0,0.0,0.1875,0.0,0.0,0.0,0.9080
201,0.350295,0.056201,0.098708,0.000000,0.000000,0.0,0.026330,0.129605,0.120273,0.030109,...,0.0,0.0,0.0,0.0,0.0,0.0000,0.0,0.0,0.0,0.9308

In [14]:
lightgbm = create_model('lightgbm')
tunedlightgbm = tune_model(lightgbm,n_iter = 200, search_library = 'scikit-optimize',optimize = 'AUC')
predict_model(tunedlightgbm)

,0,1,2,14,15,16,17,18,19,20,...,188,189,191,192,193,194,195,active,Label,Score
0,0.249241,0.159474,0.184744,0.028180,0.110458,0.0,0.085015,0.239439,0.370271,0.030109,...,0.0,0.0,0.0,0.0,0.0,0.0000,0.0,0.0,1.0,0.9870
1,0.557936,0.010867,0.032054,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0000,0.0,0.0,0.0,0.9986
2,0.385288,0.429016,0.569215,0.747844,0.783991,0.0,0.335619,0.253133,0.172700,0.070361,...,0.0,0.0,0.0,0.0,0.0,0.0625,0.0,1.0,1.0,0.9999
3,0.326013,0.081950,0.108090,0.000000,0.055235,0.0,0.029024,0.132837,0.108310,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0000,0.0,0.0,0.0,0.9999
4,0.366006,0.104294,0.103866,0.000000,0.000000,0.0,0.026933,0.061606,0.062502,0.120447,...,0.0,0.0,0.0,0.0,0.0,0.0000,0.0,1.0,0.0,0.9994
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
197,0.255847,0.233192,0.225781,0.000000,0.058829,0.0,0.054104,0.345409,0.482328,0.032831,...,0.0,0.0,0.0,0.0,0.0,0.0000,0.0,1.0,1.0,0.9998
198,0.351366,0.189348,0.178715,0.056764,0.105805,0.0,0.132122,0.170176,0.000000,0.123218,...,0.0,0.0,0.0,0.0,0.0,0.0000,0.0,1.0,1.0,0.9997
199,0.501696,0.052142,0.104020,0.000000,0.055235,0.0,0.028119,0.181025,0.000000,0.099669,...,0.0,0.0,0.0,0.0,0.0,0.0000,0.0,0.0,0.0,0.9993
200,0.519907,0.013783,0.085183,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.209854,...,0.0,0.0,0.0,0.0,0.0,0.1875,0.0,0.0,0.0,0.9976
201,0.350295,0.056201,0.098708,0.000000,0.000000,0.0,0.026330,0.129605,0.120273,0.030109,...,0.0,0.0,0.0,0.0,0.0,0.0000,0.0,0.0,0.0,0.9986

In [25]:
from itertools import combinations
ml = [tunedrf, tunedet, tunedlightgbm, tunedcat1, tunedxgb,tunedmlp]
a2 =  list(combinations(ml, 2))
a3 =  list(combinations(ml, 3))
a4 =  list(combinations(ml, 4))
a5 =  list(combinations(ml, 5))
a6 =  list(combinations(ml, 6))

all = a2 + a3 + a4 + a5 + a6 
print(len(all))
print(len(a2),len(a3),len(a4),len(a5),len(a6))

57
15 20 15 6 1

In [16]:
base_score = 0
for i in all:
    blender = blend_models(i)
    predict_model(blender)
    test = pull()
    avg = test['Accuracy']
    avg = avg.iloc[0]
    if avg > base_score:
       base_score = avg
       best_params = i
print(best_params, base_score)

(RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=-1, oob_score=False, random_state=0, verbose=0,
                       warm_start=False), ExtraTreesClassifier(bootstrap=False, ccp_alpha=0.0, class_weight=None,
                     criterion='gini', max_depth=None, max_features='auto',
                     max_leaf_nodes=None, max_samples=None,
                     min_impurity_decrease=0.0, min_impurity_split=None,
                     min_samples_leaf=1, min_samples_split=2,
                     min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=-1,
                     oob_score=False, random_state=0, verbose=0,
                     warm_start=False), MLPClassifier(activation='relu', alpha=0.0001, batch_size='auto', beta_1=0.9,
              beta_2=0.999, early_stopping=False, epsilon=1e-08,
              hidden_layer_sizes=(100,), learning_rate='constant',
              learning_rate_init=0.001, max_fun=15000, max_iter=500,
              momentum=0.9, n_iter_no_change=10, nesterovs_momentum=True,
              power_t=0.5, random_state=0, shuffle=True, solver='adam',
              tol=0.0001, validation_fraction=0.1, verbose=False,
              warm_start=False)) 0.8515

In [26]:
base_score = 0
for i in all:
    blender = blend_models(i)
    predict_model(blender)
    test = pull()
    avg = test['AUC']
    avg = avg.iloc[0]
    if avg > base_score:
       base_score = avg
       best_params = i
print(best_params, base_score)

(ExtraTreesClassifier(bootstrap=False, ccp_alpha=0.0,
                     class_weight='balanced_subsample', criterion='entropy',
                     max_depth=11, max_features=0.5458044612222941,
                     max_leaf_nodes=None, max_samples=None,
                     min_impurity_decrease=7.739497216100082e-08,
                     min_impurity_split=None, min_samples_leaf=1,
                     min_samples_split=8, min_weight_fraction_leaf=0.0,
                     n_estimators=292, n_jobs=-1, oob_score=False,
                     random_state=0, verbose=0, warm_start=False), LGBMClassifier(bagging_fraction=0.48658295618874525, bagging_freq=3,
               boosting_type='gbdt', class_weight=None, colsample_bytree=1.0,
               feature_fraction=0.6765102082079664, importance_type='split',
               learning_rate=0.06456437928683008, max_depth=-1,
               min_child_samples=1, min_child_weight=0.001, min_split_gain=0.0,
               n_estimators=300, n_jobs=-1, num_leaves=49, objective=None,
               random_state=0, reg_alpha=8.970495427097846e-07,
               reg_lambda=1e-10, silent='warn', subsample=1.0,
               subsample_for_bin=200000, subsample_freq=0)) 0.9319
[LightGBM] [Warning] bagging_fraction is set=0.48658295618874525, subsample=1.0 will be ignored. Current value: bagging_fraction=0.48658295618874525
[LightGBM] [Warning] feature_fraction is set=0.6765102082079664, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.6765102082079664
[LightGBM] [Warning] bagging_freq is set=3, subsample_freq=0 will be ignored. Current value: bagging_freq=3
[LightGBM] [Warning] bagging_fraction is set=0.48658295618874525, subsample=1.0 will be ignored. Current value: bagging_fraction=0.48658295618874525
[LightGBM] [Warning] feature_fraction is set=0.6765102082079664, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.6765102082079664
[LightGBM] [Warning] bagging_freq is set=3, subsample_freq=0 will be ignored. Current value: bagging_freq=3

In [28]:
blend = blend_models([tunedlightgbm, tunedet])
md = predict_model(blend,data = test1)
md
y_pred = md['Label']
y_true = md['active']
t = y_pred.astype(float)
t
from sklearn.metrics import balanced_accuracy_score
accuracy = balanced_accuracy_score(y_true, t)
accuracy

0.8891984359726295