In [1]:
import numpy as np
import pandas as pd
df = pd.read_csv('rdkit.csv')
df.replace(to_replace='#NAME?',value=np.nan,inplace=True)
df.replace(to_replace=r'^\s*$',value=np.nan,regex=True,inplace=True)
columns = df.columns
df = df.astype("float", errors = "ignore")
df = np.float32(df)
df[np.isnan(df)] = 0
df[np.isinf(df)] = 0
df=pd.DataFrame(df,columns=columns)
ncol = df.shape[1]-1
x = df.iloc[:,0:ncol]
y = df['active']
corr_matrix = x.corr().abs()
upper = corr_matrix.where(np.triu(np.ones(corr_matrix.shape), k=1).astype(np.bool))
to_drop = [column for column in upper.columns if any(upper[column] > 0.95)]
x1 = x.drop(to_drop, axis=1)
x2 = x1.loc[:, (x1 != x1.iloc[0]).any()] 
x2 = x2.round(6)

In [2]:
df

,0,1,2,3,4,5,6,7,8,9,...,187,188,189,190,191,192,193,194,195,active
0,1.726,1139.849976,27.711000,22.427999,22.427999,19.063,13.684,13.684,9.651,9.651,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,1.0
1,1.869,610.760010,17.653999,14.957000,14.957000,11.091,9.370,9.370,9.654,9.654,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,1.884,650.023987,17.653999,14.840000,14.840000,11.091,9.222,9.222,9.423,9.423,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,1.860,775.122009,21.679001,17.461000,17.461000,13.316,10.449,10.449,10.455,10.455,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,1.837,671.614014,19.938999,16.941999,16.941999,12.475,10.377,10.377,10.474,10.474,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019,2.806,220.039001,8.268000,6.066000,6.066000,5.236,3.408,3.408,2.343,2.343,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2020,3.137,52.568001,4.992000,3.540000,5.052000,2.770,1.653,2.566,0.945,1.850,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2021,3.055,64.829002,6.406000,5.322000,6.139000,3.808,2.825,3.234,1.390,1.798,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2022,3.174,266.592010,14.891000,13.150000,13.150000,9.770,8.288,8.288,5.374,5.374,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7.0,0.0,0.0
2023,2.810,294.460999,11.475000,10.339000,10.339000,6.970,5.848,5.848,5.132,5.132,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [3]:
from sklearn.model_selection import train_test_split
x_train,x_val_test,y_train,y_val_test = train_test_split(x2,y,test_size = 0.2,random_state = 2)
x_val, x_test, y_val, y_test = train_test_split(x_val_test,y_val_test,test_size = 0.5,random_state = 2)

In [4]:
train = pd.concat([x_train,y_train],axis=1)
train

,0,1,2,14,15,16,17,18,19,20,...,186,187,188,189,191,192,193,194,195,active
515,1.715,1063.020020,20.802999,0.000000,4.795000,0.0,5.907000,24.347000,24.403,11.337000,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
1794,3.044,232.699005,7.560000,0.000000,0.000000,0.0,0.000000,0.000000,17.000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
333,2.198,566.499939,16.165001,0.000000,0.000000,0.0,5.415000,5.918000,11.518,36.810001,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
734,1.595,1645.514038,27.025999,26.552999,17.198999,0.0,23.620001,59.174000,12.133,19.372999,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1753,3.428,414.786011,10.878000,26.971001,25.334999,0.0,5.563000,0.000000,12.133,6.924000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1558,3.202,372.407013,10.008000,10.893000,14.909000,0.0,11.251000,5.563000,0.000,25.122999,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1608,2.159,365.351990,9.640000,0.000000,0.000000,0.0,0.000000,0.000000,11.375,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
493,1.606,1359.855957,23.535000,11.921000,9.185000,0.0,27.172001,23.235001,5.563,18.198999,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
527,1.720,1148.738037,20.379999,0.000000,5.107000,0.0,11.667000,28.229000,11.033,17.325001,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1192,3.153,258.924988,7.560000,4.923000,10.114000,0.0,11.437000,0.000000,0.000,24.264999,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [5]:
val = pd.concat([x_val,y_val],axis=1)
val

,0,1,2,14,15,16,17,18,19,20,...,186,187,188,189,191,192,193,194,195,active
1230,2.962,141.123993,5.113000,0.000000,4.795000,0.00,0.000000,12.046000,0.000000,6.263000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1255,1.766,910.031006,21.129000,35.292999,24.285000,0.00,35.102001,0.000000,4.900000,31.201000,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
268,2.006,1544.371948,27.179001,23.233000,24.597000,0.00,73.724998,0.000000,0.000000,52.519001,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1922,3.196,294.144012,8.431000,0.000000,10.114000,0.00,10.611000,0.000000,11.127000,6.066000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1568,2.905,401.050995,12.182000,6.719000,0.000000,0.00,0.000000,5.750000,5.563000,19.115000,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
677,1.291,1425.120972,25.396999,28.940001,23.881001,4.39,22.555000,37.382999,18.908001,36.800999,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1206,2.913,374.033997,7.682000,0.000000,0.000000,0.00,0.000000,0.000000,10.409000,5.386000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
352,1.294,897.112000,19.184000,0.000000,4.795000,0.00,12.197000,12.966000,42.764999,11.127000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1780,2.826,148.705002,5.983000,0.000000,9.589000,0.00,11.566000,0.000000,0.000000,24.304001,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1758,2.831,50.000000,4.992000,5.969000,4.795000,0.00,6.607000,0.000000,0.000000,7.110000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [29]:
test1 = pd.concat([x_test,y_test],axis=1)
test1

,0,1,2,14,15,16,17,18,19,20,...,186,187,188,189,191,192,193,194,195,active
1710,3.165,51.651001,5.699000,0.000000,4.907000,0.0,0.000000,13.090000,0.000,5.009,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
532,1.313,835.916016,22.725000,24.041000,13.171000,0.0,23.813000,18.381001,31.247,12.133,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
494,1.701,992.642029,19.225000,0.000000,10.213000,0.0,11.499000,17.193001,11.127,14.220,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1008,2.967,472.367004,9.422000,0.000000,5.107000,0.0,5.750000,14.110000,5.386,0.000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1810,2.877,317.378998,6.975000,0.000000,0.000000,0.0,0.000000,5.948000,11.033,0.000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
570,1.788,735.062988,22.223000,40.978001,24.909000,0.0,48.134998,19.261999,0.000,14.034,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,1.860,775.122009,21.679001,70.352997,30.014999,0.0,30.753000,0.000000,0.000,6.924,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
920,1.633,4.755000,2.707000,23.340000,0.000000,0.0,0.000000,0.000000,0.000,0.000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
874,1.631,1152.161987,20.500999,5.817000,4.390000,0.0,11.766000,33.851002,11.884,6.197,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
558,1.392,1075.399048,20.379999,0.000000,4.795000,0.0,5.626000,23.671000,47.777,11.984,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [7]:
col_name = train.columns.values.tolist()
col_name.pop()

'active'

In [8]:
from pycaret.classification import *
CM = setup(data = train, target = 'active', test_data = val, silent=True, numeric_features = col_name,
             session_id=0, fold_strategy = 'stratifiedkfold', fold = 5, fold_shuffle = True, normalize = True, normalize_method = 'minmax')

In [9]:
mlp = create_model('mlp')
tunedmlp = tune_model(mlp,n_iter = 200, search_library = 'scikit-optimize',optimize = 'AUC')
predict_model(tunedmlp)

,0,1,2,14,15,16,17,18,19,20,...,188,189,191,192,193,194,195,active,Label,Score
0,0.464489,0.024514,0.022359,0.000000,0.052167,0.000000,0.000000,0.122824,0.000000,0.033898,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.9161
1,0.221794,0.160735,0.171195,0.157645,0.264206,0.000000,0.170681,0.000000,0.047696,0.168871,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.6832
2,0.270495,0.273116,0.227418,0.103776,0.267600,0.000000,0.358482,0.000000,0.000000,0.284252,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.8548
3,0.511972,0.051623,0.053193,0.000000,0.110034,0.000000,0.051595,0.000000,0.108310,0.032831,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.9606
4,0.452922,0.070563,0.088051,0.030012,0.000000,0.000000,0.000000,0.058629,0.054150,0.103457,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.7821
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
197,0.125406,0.251989,0.210858,0.129267,0.259811,0.228908,0.109672,0.381167,0.184050,0.199181,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.9168
198,0.454545,0.065777,0.046233,0.000000,0.000000,0.000000,0.000000,0.000000,0.101321,0.029151,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.8989
199,0.126015,0.158446,0.153121,0.000000,0.052167,0.000000,0.059307,0.132205,0.416273,0.060223,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.9188
200,0.436891,0.025857,0.030444,0.000000,0.104322,0.000000,0.056239,0.000000,0.000000,0.131542,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.8709
201,0.437906,0.008370,0.021234,0.026662,0.052167,0.000000,0.032126,0.000000,0.000000,0.038482,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.9649

In [10]:
xgb = create_model('xgboost')
tunedxgb = tune_model(xgb,n_iter = 200, search_library = 'scikit-optimize',optimize = 'AUC')
predict_model(tunedxgb)

,0,1,2,14,15,16,17,18,19,20,...,188,189,191,192,193,194,195,active,Label,Score
0,0.464489,0.024514,0.022359,0.000000,0.052167,0.000000,0.000000,0.122824,0.000000,0.033898,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.9512
1,0.221794,0.160735,0.171195,0.157645,0.264206,0.000000,0.170681,0.000000,0.047696,0.168871,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.7173
2,0.270495,0.273116,0.227418,0.103776,0.267600,0.000000,0.358482,0.000000,0.000000,0.284252,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.8959
3,0.511972,0.051623,0.053193,0.000000,0.110034,0.000000,0.051595,0.000000,0.108310,0.032831,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.9910
4,0.452922,0.070563,0.088051,0.030012,0.000000,0.000000,0.000000,0.058629,0.054150,0.103457,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.8147
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
197,0.125406,0.251989,0.210858,0.129267,0.259811,0.228908,0.109672,0.381167,0.184050,0.199181,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.9950
198,0.454545,0.065777,0.046233,0.000000,0.000000,0.000000,0.000000,0.000000,0.101321,0.029151,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.9918
199,0.126015,0.158446,0.153121,0.000000,0.052167,0.000000,0.059307,0.132205,0.416273,0.060223,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.9973
200,0.436891,0.025857,0.030444,0.000000,0.104322,0.000000,0.056239,0.000000,0.000000,0.131542,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.7645
201,0.437906,0.008370,0.021234,0.026662,0.052167,0.000000,0.032126,0.000000,0.000000,0.038482,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.9962

In [11]:
rf = create_model('rf')
tunedrf = tune_model(rf, n_iter = 200,search_library = 'scikit-optimize',optimize = 'AUC')
predict_model(tunedrf)

,0,1,2,14,15,16,17,18,19,20,...,188,189,191,192,193,194,195,active,Label,Score
0,0.464489,0.024514,0.022359,0.000000,0.052167,0.000000,0.000000,0.122824,0.000000,0.033898,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.8703
1,0.221794,0.160735,0.171195,0.157645,0.264206,0.000000,0.170681,0.000000,0.047696,0.168871,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.6893
2,0.270495,0.273116,0.227418,0.103776,0.267600,0.000000,0.358482,0.000000,0.000000,0.284252,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.7307
3,0.511972,0.051623,0.053193,0.000000,0.110034,0.000000,0.051595,0.000000,0.108310,0.032831,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.9882
4,0.452922,0.070563,0.088051,0.030012,0.000000,0.000000,0.000000,0.058629,0.054150,0.103457,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.7113
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
197,0.125406,0.251989,0.210858,0.129267,0.259811,0.228908,0.109672,0.381167,0.184050,0.199181,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.9443
198,0.454545,0.065777,0.046233,0.000000,0.000000,0.000000,0.000000,0.000000,0.101321,0.029151,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.9851
199,0.126015,0.158446,0.153121,0.000000,0.052167,0.000000,0.059307,0.132205,0.416273,0.060223,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.9659
200,0.436891,0.025857,0.030444,0.000000,0.104322,0.000000,0.056239,0.000000,0.000000,0.131542,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.7430
201,0.437906,0.008370,0.021234,0.026662,0.052167,0.000000,0.032126,0.000000,0.000000,0.038482,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.9729

In [12]:
et = create_model('et')
tunedet = tune_model(et, n_iter = 200,search_library = 'scikit-optimize',optimize = 'AUC')
predict_model(tunedet)

,0,1,2,14,15,16,17,18,19,20,...,188,189,191,192,193,194,195,active,Label,Score
0,0.464489,0.024514,0.022359,0.000000,0.052167,0.000000,0.000000,0.122824,0.000000,0.033898,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.9072
1,0.221794,0.160735,0.171195,0.157645,0.264206,0.000000,0.170681,0.000000,0.047696,0.168871,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.5143
2,0.270495,0.273116,0.227418,0.103776,0.267600,0.000000,0.358482,0.000000,0.000000,0.284252,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.8159
3,0.511972,0.051623,0.053193,0.000000,0.110034,0.000000,0.051595,0.000000,0.108310,0.032831,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.9738
4,0.452922,0.070563,0.088051,0.030012,0.000000,0.000000,0.000000,0.058629,0.054150,0.103457,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.7207
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
197,0.125406,0.251989,0.210858,0.129267,0.259811,0.228908,0.109672,0.381167,0.184050,0.199181,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.9294
198,0.454545,0.065777,0.046233,0.000000,0.000000,0.000000,0.000000,0.000000,0.101321,0.029151,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.9725
199,0.126015,0.158446,0.153121,0.000000,0.052167,0.000000,0.059307,0.132205,0.416273,0.060223,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.9780
200,0.436891,0.025857,0.030444,0.000000,0.104322,0.000000,0.056239,0.000000,0.000000,0.131542,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.7991
201,0.437906,0.008370,0.021234,0.026662,0.052167,0.000000,0.032126,0.000000,0.000000,0.038482,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.9707

In [13]:
catboost = create_model('catboost')
tunedcat1 = tune_model(catboost, n_iter = 200,search_library = 'scikit-optimize',optimize = 'AUC')
predict_model(tunedcat1)

,0,1,2,14,15,16,17,18,19,20,...,188,189,191,192,193,194,195,active,Label,Score
0,0.464489,0.024514,0.022359,0.000000,0.052167,0.000000,0.000000,0.122824,0.000000,0.033898,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.9142
1,0.221794,0.160735,0.171195,0.157645,0.264206,0.000000,0.170681,0.000000,0.047696,0.168871,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.6646
2,0.270495,0.273116,0.227418,0.103776,0.267600,0.000000,0.358482,0.000000,0.000000,0.284252,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.8767
3,0.511972,0.051623,0.053193,0.000000,0.110034,0.000000,0.051595,0.000000,0.108310,0.032831,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.9761
4,0.452922,0.070563,0.088051,0.030012,0.000000,0.000000,0.000000,0.058629,0.054150,0.103457,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.7461
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
197,0.125406,0.251989,0.210858,0.129267,0.259811,0.228908,0.109672,0.381167,0.184050,0.199181,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.9636
198,0.454545,0.065777,0.046233,0.000000,0.000000,0.000000,0.000000,0.000000,0.101321,0.029151,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.9773
199,0.126015,0.158446,0.153121,0.000000,0.052167,0.000000,0.059307,0.132205,0.416273,0.060223,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.9725
200,0.436891,0.025857,0.030444,0.000000,0.104322,0.000000,0.056239,0.000000,0.000000,0.131542,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.9376
201,0.437906,0.008370,0.021234,0.026662,0.052167,0.000000,0.032126,0.000000,0.000000,0.038482,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.9838

In [14]:
lightgbm = create_model('lightgbm')
tunedlightgbm = tune_model(lightgbm,n_iter = 200, search_library = 'scikit-optimize',optimize = 'AUC')
predict_model(tunedlightgbm)

,0,1,2,14,15,16,17,18,19,20,...,188,189,191,192,193,194,195,active,Label,Score
0,0.464489,0.024514,0.022359,0.000000,0.052167,0.000000,0.000000,0.122824,0.000000,0.033898,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.9964
1,0.221794,0.160735,0.171195,0.157645,0.264206,0.000000,0.170681,0.000000,0.047696,0.168871,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.9136
2,0.270495,0.273116,0.227418,0.103776,0.267600,0.000000,0.358482,0.000000,0.000000,0.284252,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.9816
3,0.511972,0.051623,0.053193,0.000000,0.110034,0.000000,0.051595,0.000000,0.108310,0.032831,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.9994
4,0.452922,0.070563,0.088051,0.030012,0.000000,0.000000,0.000000,0.058629,0.054150,0.103457,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.9535
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
197,0.125406,0.251989,0.210858,0.129267,0.259811,0.228908,0.109672,0.381167,0.184050,0.199181,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.9983
198,0.454545,0.065777,0.046233,0.000000,0.000000,0.000000,0.000000,0.000000,0.101321,0.029151,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.9994
199,0.126015,0.158446,0.153121,0.000000,0.052167,0.000000,0.059307,0.132205,0.416273,0.060223,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.9989
200,0.436891,0.025857,0.030444,0.000000,0.104322,0.000000,0.056239,0.000000,0.000000,0.131542,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.9631
201,0.437906,0.008370,0.021234,0.026662,0.052167,0.000000,0.032126,0.000000,0.000000,0.038482,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.9994

In [27]:
from itertools import combinations
ml = [tunedrf, tunedet, tunedlightgbm, tunedcat1, tunedxgb,tunedmlp]
a2 =  list(combinations(ml, 2))
a3 =  list(combinations(ml, 3))
a4 =  list(combinations(ml, 4))
a5 =  list(combinations(ml, 5))
a6 =  list(combinations(ml, 6))

all = a2 + a3 + a4 + a5 + a6 
print(len(all))
print(len(a2),len(a3),len(a4),len(a5),len(a6))

57
15 20 15 6 1

In [16]:
base_score = 0
for i in all:
    blender = blend_models(i)
    predict_model(blender)
    test = pull()
    avg = test['Accuracy']
    avg = avg.iloc[0]
    if avg > base_score:
       base_score = avg
       best_params = i
print(best_params, base_score)

(RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=-1, oob_score=False, random_state=0, verbose=0,
                       warm_start=False), LGBMClassifier(boosting_type='gbdt', class_weight=None, colsample_bytree=1.0,
               importance_type='split', learning_rate=0.1, max_depth=-1,
               min_child_samples=20, min_child_weight=0.001, min_split_gain=0.0,
               n_estimators=100, n_jobs=-1, num_leaves=31, objective=None,
               random_state=0, reg_alpha=0.0, reg_lambda=0.0, silent='warn',
               subsample=1.0, subsample_for_bin=200000, subsample_freq=0)) 0.8861

In [28]:
base_score = 0
for i in all:
    blender = blend_models(i)
    predict_model(blender)
    test = pull()
    avg = test['AUC']
    avg = avg.iloc[0]
    if avg > base_score:
       base_score = avg
       best_params = i
print(best_params, base_score)

(LGBMClassifier(bagging_fraction=0.5322395477909971, bagging_freq=1,
               boosting_type='gbdt', class_weight=None, colsample_bytree=1.0,
               feature_fraction=0.7283532892296498, importance_type='split',
               learning_rate=0.02666489446440943, max_depth=-1,
               min_child_samples=1, min_child_weight=0.001, min_split_gain=0.0,
               n_estimators=259, n_jobs=-1, num_leaves=256, objective=None,
               random_state=0, reg_alpha=3.34954290377346e-07,
               reg_lambda=3.395043666781473e-07, silent='warn', subsample=1.0,
               subsample_for_bin=200000, subsample_freq=0), <catboost.core.CatBoostClassifier object at 0x7f2d948fc490>, XGBClassifier(base_score=0.5, booster='gbtree', callbacks=None,
              colsample_bylevel=1, colsample_bynode=1,
              colsample_bytree=0.8646861387794204, early_stopping_rounds=None,
              enable_categorical=False, eval_metric=None, gamma=0, gpu_id=-1,
              grow_policy='depthwise', importance_type=None,
              interaction_constraints='', learning_rate=0.10514046756530142,
              max_bin=256, max_cat_to_onehot=4, max_delta_step=0, max_depth=9,
              max_leaves=0, min_child_weight=1, missing=nan,
              monotone_constraints='()', n_estimators=223, n_jobs=-1,
              num_parallel_tree=1, objective='binary:logistic',
              predictor='auto', random_state=0, reg_alpha=1e-10, ...), MLPClassifier(activation='relu', alpha=0.9999999998999984, batch_size='auto',
              beta_1=0.9, beta_2=0.999, early_stopping=False, epsilon=1e-08,
              hidden_layer_sizes=[50, 83], learning_rate='invscaling',
              learning_rate_init=0.001, max_fun=15000, max_iter=500,
              momentum=0.9, n_iter_no_change=10, nesterovs_momentum=True,
              power_t=0.5, random_state=0, shuffle=True, solver='adam',
              tol=0.0001, validation_fraction=0.1, verbose=False,
              warm_start=False)) 0.9411
[LightGBM] [Warning] bagging_fraction is set=0.5322395477909971, subsample=1.0 will be ignored. Current value: bagging_fraction=0.5322395477909971
[LightGBM] [Warning] feature_fraction is set=0.7283532892296498, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.7283532892296498
[LightGBM] [Warning] bagging_freq is set=1, subsample_freq=0 will be ignored. Current value: bagging_freq=1
[LightGBM] [Warning] bagging_fraction is set=0.5322395477909971, subsample=1.0 will be ignored. Current value: bagging_fraction=0.5322395477909971
[LightGBM] [Warning] feature_fraction is set=0.7283532892296498, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.7283532892296498
[LightGBM] [Warning] bagging_freq is set=1, subsample_freq=0 will be ignored. Current value: bagging_freq=1
[LightGBM] [Warning] bagging_fraction is set=0.5322395477909971, subsample=1.0 will be ignored. Current value: bagging_fraction=0.5322395477909971
[LightGBM] [Warning] feature_fraction is set=0.7283532892296498, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.7283532892296498
[LightGBM] [Warning] bagging_freq is set=1, subsample_freq=0 will be ignored. Current value: bagging_freq=1

In [30]:
blend = blend_models([tunedlightgbm, tunedmlp,tunedcat1,tunedxgb])
md = predict_model(blend,data = test1)
md
y_pred = md['Label']
y_true = md['active']
t = y_pred.astype(float)
t
from sklearn.metrics import balanced_accuracy_score
accuracy = balanced_accuracy_score(y_true, t)
accuracy

0.8482213438735178